#c-side-menu {
    display: block;
}

.c-list-group-container {
    width: 250px;
    overflow: auto;
    height: 100%;
    align-items: center;
    background-color: indigo;
    border-right: 5px rgb(24, 3, 29);
    border-bottom: none;
    border-left: none;
    border-right-style: inset;
    margin-top: 90px;
    position: fixed;
}

.c-list-item {
    text-align: center;
    padding: 10px;
    border-bottom:rgb(24, 3, 29) 1px white;
}

@media only screen and (max-width: 425px) {
    #c-side-menu {
        display: none;
    }
}

.drawer-style {
    background-color: black;
    border: none
}

.drawer-paper-s {
    background-color: black;
}