.nav-bar {
    position: fixed;
    width: 100%;
    background-color: indigo;
    height: 90px;
}

.c-navbar-brand {
    display: inline-flex; 
    padding: 10px;
    height: 100%;
    text-decoration: none;
}

.c-open-side-menu {
    display: none;
}

@media only screen and (max-width: 425px) {
    .c-open-side-menu {
        display: inline;
    }
}