.c-input-field {
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.c-input-wrapper {
    width: 60%;
}

.c-form-group {
    padding: 20px 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form-label {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.c-invalid-icon {
    color: black;
    padding: 10px;
    position: absolute;
    right: 200px;
}

.c-textarea {
    height: 200px;
    overflow: auto;
}